interface AssetFields {
  asset: string;
  "AssetType":string;
  "AssetDescription":string;
  "AssetBroadbandFocusArea":string[];
  "AssetCoveredPopulation":string[];
  "OrganizationType":string[];
  "OrganizationSub-Type":string[];
  "CoverageArea":string[];
  program: string;
  "KeyContact":string;
  "ContactEmail":string;
  "OrgCounty":string[];
  "County(fromOrgCounty)":string[];
  website?: string;
}

export interface AssetInfo {
  createdtime: string;
  fields: AssetFields;
}
